{% extends 'layout/base.html' %}
{% load static %}
{% block content %}

    <div class="modal fade" id="modalview" >
            <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
    
                <div class="modal-content">
    
    
                    <div class="modal-header">
                        <div class="modal-title h4">Messages</div>
    
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
    
    
                    <div class="modal-body">
    
    
                        <ul class="list-unstyled">
    
    
                         <a href="#" class="text-decoration-none">
                            <li class="media hover-media">
                               
                                    <img src="{% static 'img/avatar-dhg.png' %}" alt="img" width="60px" height="60px" class="rounded-circle mr-3">
    
                                    <div class="media-body text-dark">
                                            <h6 class="media-header">Jchob Thunder and <strong> 1 others</strong></h6>
                                            <p class="media-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    
                                    </div>
    
                            </li>
                        </a>
                        <hr class="my-3">
    
    
                        
                        <a href="#" class="text-decoration-none">
                                <li class="media hover-media">
                                   
                                        <img src="{% static 'img/avatar-fat.jpg' %}" alt="img" width="60px" height="60px" class="rounded-circle mr-3">
        
                                        <div class="media-body text-dark">
                                                <h6 class="media-header">Mark Otto and <strong> 3 others</strong></h6>
                                                <p class="media-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        
                                        </div>
        
                                </li>
                            </a>
    
    
                            <hr class="my-3">
    
    
                            <a href="#" class="text-decoration-none">
                                <li class="media hover-media">
                                   
                                        <img src="{% static 'img/avatar-mdo.png' %}" alt="img" width="60px" height="60px" class="rounded-circle mr-3">
        
                                        <div class="media-body text-dark">
                                                <h6 class="media-header">Archer andu and <strong> 5 others</strong></h6>
                                                <p class="media-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        
                                        </div>
        
                                </li>
                            </a>
    
                            <hr class="my-3">
    
    
                            <a href="#" class="text-decoration-none">
                                    <li class="media hover-media">
                                       
                                            <img src="{% static 'img/avatar-dhg.png' %}" alt="img" width="60px" height="60px" class="rounded-circle mr-3">
            
                                            <div class="media-body text-dark">
                                                    <h6 class="media-header">Jchob Thunder and <strong> 1 others</strong></h6>
                                                    <p class="media-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            
                                            </div>
            
                                    </li>
                                </a>
                                <hr class="my-3">
            
            
                                
                                <a href="#" class="text-decoration-none">
                                        <li class="media hover-media">
                                           
                                                <img src="{% static 'img/avatar-fat.jpg' %}" alt="img" width="60px" height="60px" class="rounded-circle mr-3">
                
                                                <div class="media-body text-dark">
                                                        <h6 class="media-header">Mark Otto and <strong> 3 others</strong></h6>
                                                        <p class="media-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                
                                                </div>
                
                                        </li>
                                    </a>
            
            
                                    <hr class="my-3">
            
            
                                    <a href="#" class="text-decoration-none">
                                        <li class="media hover-media">
                                           
                                                <img src="{% static 'img/avatar-mdo.png' %}" alt="img" width="60px" height="60px" class="rounded-circle mr-3">
                
                                                <div class="media-body text-dark">
                                                        <h6 class="media-header">Archer andu and <strong> 5 others</strong></h6>
                                                        <p class="media-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                
                                                </div>
                
                                        </li>
                                    </a>
    
                            
                                    <hr class="my-3">
                                    <a href="#" class="text-decoration-none">
                                            <li class="media hover-media">
                                               
                                                    <img src="{% static 'img/avatar-dhg.png' %}" alt="img" width="60px" height="60px" class="rounded-circle mr-3">
                    
                                                    <div class="media-body text-dark">
                                                            <h6 class="media-header">Jchob Thunder and <strong> 1 others</strong></h6>
                                                            <p class="media-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    
                                                    </div>
                    
                                            </li>
                                        </a>
                                        <hr class="my-3">                                      
                                        <a href="#" class="text-decoration-none">
                                                <li class="media hover-media">
                                                   
                                                        <img src="{% static 'img/avatar-fat.jpg' %}" alt="img" width="60px" height="60px" class="rounded-circle mr-3">
                        
                                                        <div class="media-body text-dark">
                                                                <h6 class="media-header">Mark Otto and <strong> 3 others</strong></h6>
                                                                <p class="media-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        
                                                        </div>                       
                                                </li>
                                            </a>                  
                                            <hr class="my-3">                   
                                            <a href="#" class="text-decoration-none">
                                                <li class="media hover-media">
                                                   
                                                        <img src="{% static 'img/avatar-mdo.png' %}" alt="img" width="60px" height="60px" class="rounded-circle mr-3">
                        
                                                        <div class="media-body text-dark">
                                                                <h6 class="media-header">Archer andu and <strong> 5 others</strong></h6>
                                                                <p class="media-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        
                                                        </div>                      
                                                </li>
                                            </a>
                        </ul>    
                    </div>
                </div>   
            </div>
        </div>
        <!-------------------------------MOdal Ends---------------------------->
        <!-----------------------------------Banner/img Starts-------------------->


        <div class="banner">
            <div class="banner-title d-flex flex-column justify-content-center align-items-center">
                <img src="{{ request.user.profile.image.url }}" alt="img" width="120px" height="120px" class="rounded-circle mt-n5">                <h3 class="text-light">{{ request.user.username }}</h3>
                <p class="text-light">{{ request.user.profile.bio }}</p>

            </div>


            <div class="banner-end d-flex justify-content-center align-items-end">
                <ul class="nav text-light">
                    <li class="nav-item nav-link active">Posts ({{ post_count }})</li>
                    <li class="nav-item nav-link">Followers ({{ request.user.followers.count }})</li>
                    <li class="nav-item nav-link">Following ({{ request.user.following.count }})</li>
                </ul>
            </div>
        </div>
        <!--------------------Image Portfolio----------------->
        <div class="grid-template container my-4">
                {% for post in user_posts %}
                <div class="item-{{ forloop.counter }}">
                    <a href="{{ post.image.url }}" data-lightbox="id">
                        <img src="{{ post.image.url }}" alt="" class="img-fluid" style="width:455px; height: 255px;">           
                </a>
                <i class="far fa-thumbs-up mr-2 like-icon" data-post-id="{{ post.id }}"></i> 
                <span class="like-count like-count-{{ post.id }}">{{ post.likes.count }}</span>
                </div>
                {% endfor %}
            </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
{% endblock %}