{% extends 'layout/base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
<style>
    #messageList {
        list-style-type: none;
        padding: 0;
    }

    #messageList li {
        margin-bottom: 10px;
        border-bottom: 1px solid #ccc;
        padding-bottom: 10px;
        font-size: 18px;
    }

    #messageList li img {
        margin-right: 10px;
        border-radius: 50%;
    }

    #messageList li strong {
        font-weight: bold;
    }
</style>
</head>
<body>
<div class="modal fade" id="modalview">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title h4">Messages</div>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <ul class="list-unstyled" id="messageList">
                    <li>No messages found.</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.bundle.min.js"></script>
<script>
    $(document).ready(function() {
        $('#modalview').on('shown.bs.modal', function (e) {
            $.ajax({
                type: 'GET',
                url: '/inbox/{{ request.user.id }}/messages/', // Adjusted URL to fetch messages for the current user
                success: function(response) {
                    console.log(response); // Log the response
                    $('#messageList').empty();
                    if (response.length === 0) {
                        $('#messageList').append('<li>No messages found.</li>');
                    } else {
                        response.forEach(function(message) {
                            $('#messageList').append(
                                '<li>' +
                                '<img src="' + message.sender.profile.image.url + '" alt="' + message.sender.username + '" width="30" height="30">' +
                                '<a href="/profile/' + message.sender.username + '"><strong>' + message.sender.username + '</strong></a><br>' +
                                message.message_content + '<br>' +
                                '<small>' + message.timestamp + '</small>' +
                                '</li>'
                            );
                        });
                    }
                },
                error: function(xhr, status, error) {
                    console.error(xhr.responseText); // Log the error response
                    $('#messageList').empty().append('<li>Error loading messages.</li>');
                }
            });
        });
    });
</script> 
        <!-------------------------------MOdal Ends---------------------------->
        <!-----------------------------------Banner/img Starts-------------------->


        <div class="banner">
            <div class="banner-title d-flex flex-column justify-content-center align-items-center">
                <img src="{{ request.user.profile.image.url }}" alt="img" width="120px" height="120px" class="rounded-circle mt-n5">                <h3 class="text-light">{{ request.user.username }}</h3>
                <p class="text-light">{{ request.user.profile.bio }}</p>

            </div>


            <div class="banner-end d-flex justify-content-center align-items-end">
                <ul class="nav text-light">
                    <li class="nav-item nav-link active">Posts ({{ post_count }})</li>
                    <li class="nav-item nav-link">Followers ({{ request.user.followers.count }})</li>
                    <li class="nav-item nav-link">Following ({{ request.user.following.count }})</li>
                </ul>
            </div>
        </div>
        <!--------------------Image Portfolio----------------->
        <div class="grid-template container my-4">
                {% for post in user_posts %}
                <div class="item-{{ forloop.counter }}">
                    <a href="{{ post.image.url }}" data-lightbox="id">
                        <img src="{{ post.image.url }}" alt="" class="img-fluid" style="width:455px; height: 255px;">           
                </a>
                <i class="far fa-thumbs-up mr-2 like-icon" data-post-id="{{ post.id }}"></i> 
                <span class="like-count like-count-{{ post.id }}">{{ post.likes.count }}</span>
                </div>
                {% endfor %}
            </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
{% endblock %}