{% extends 'layout/base.html' %}
{% load static %}

{% block content %}
<div class="col-12 col-lg-6">
    <div class="middle-column">
        <div class="card">
            <div class="card-body">
                <h5>Send a message to {{ recipient.username }}</h5>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Send Message</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
