{% extends 'layout/base.html' %}
{% load static %}
{% block content %}
<style>
/* Additional CSS styles */
#appointment {
    padding: 200px 0; /* Adjusted padding for full-screen display */
    background: linear-gradient(135deg, #2f91d2, #cad1d7); /* Gradient background */
}

#appointment-form {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center-align the text inside the form */
}

/* Center-align the form elements */
#appointment-form .form-group {
    margin: 10 auto; /* Horizontally center the form elements */
    max-width: 300px; /* Optional: Set max-width for better readability */
}


.form-group {
    margin-bottom: 20px; /* Reduced margin between form groups */
}

#cf-submit {
    background-color: #007bff; /* Blue button color */
    color: #fff;
    border: none;
    padding: 10px 20px; /* Decreased button padding */
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px; /* Added margin to the top */
}

#cf-submit:hover {
    background-color: #0056b3; /* Darker blue color on hover */
}

h2 {
    text-align: center;
    color: #007bff; /* Blue color for heading */
    margin-bottom: 40px; /* Increased margin bottom for separation */
}

</style>
<section id="appointment" data-stellar-background-ratio="3">
    <div class="container">
         <div class="row justify-content-center"> <!-- Center the login form -->
              <div class="col-md-6 col-sm-6">
                   <!-- CONTACT FORM HERE -->
                   <form id="appointment-form" role="form" method="post" action="{% url 'signin' %}">

                        <!-- SECTION TITLE -->
                        <div class="section-title wow fadeInUp" data-wow-delay="0.4s">
                             <h2>LOGIN</h2>
                        </div>

                        <div class="wow fadeInUp" data-wow-delay="0.8s">
                             <div class="col-md-6 col-sm-6">
                                {% csrf_token %}
                                    <div class="form-group">
                                        {{ form.as_p }}
                                    </div>
                                {% if form.errors %}<div class="alert-danger">{{form.errors}}</div>{% endif %}
                                <button type="submit" class="form-control" id="cf-submit" name="submit">Login</button>
                                <p>Not Registered Yet? <a href="{% url 'signup' %}">Sign Up</a></p>
                                <p><a href="{% url 'forgot_password' %}">Forgot Password?</a></p> <!-- Fixed the HTML tag mismatch -->
                             </div>
                        </div>
                  </form>
              </div>

         </div>
    </div>
</section>
{% endblock %}
